* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#puzzle-container 
{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 2px;
    position: relative;
    width: 404px;
    height: 404px;
}

.tile 
{
    width: 100px;
    height: 100px;
    background-size: 400px 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: absolute;
}

.tile.hidden 
{
    visibility: hidden;
}
